body {

    display: flex;
    flex-direction: column;

      }

      .logo_image {
        background-image: url("../purple.jpg");
        height: 30%;
        width: 100%;
        /*position absolute*/
        padding-top: 0%;
        align: center;
        /*left: 350px;*/
        z-index: 5;
      }

      .header {
        display: flex;

      }
      .text {
        margin-top: 40px;
      }


    /*  #slogan {
        padding: 30px;
        font-family: Impact, sans-serif;
        font-weight: normal;
        color:#36454f;
        padding-bottom: 40px;
        margin-bottom: 0px;
        text-shadow:
          /* Outline */
          /*-1px -1px 0 white,
          1px -1px 0 white,
          -1px 1px 0 white,
          1px 1px 0 white,
          -2px 0 0 white,
          2px 0 0 white,
          0 2px 0 white,
          0 -2px 0 white;
      }
      /*navbar*/
      ul {
          list-style-type: none;
          margin-top: 10%;
          padding: 0px;
          padding-left: 25%;
          overflow: visible;
          background-color: #364a57;
          height: 86px;
          align-items: center;
          border-top: 6px solid white;
          border-bottom: 6px solid white;


      }

      li {
          float: left;
          margin-bottom: 40px;
          margin-top: -42px;
          margin-right: 53px;
      }

      li a {
          display: block;
          color: white;
          text-align: center;
          padding: 16px 16px;
          text-decoration: none;
      }

      li a:hover {
          background-color: #01aedb;
        color: white;
      }

      /*end navbar*/
      #first_element {
        padding-top: 30px;
        font-family:  Charcoal, sans-serif;
        font-size: 30px;
        margin-top: -30px;
        font-weight: lighter;

      }
      #list_elements {
        font-family:  Charcoal, sans-serif;
        font-size: 30px;
          font-weight: lighter;
      }

      .turtle {
        display: flex;
        justify-content: center;
        padding-top: 4%;
        padding-bottom: 2%;
      }

      .logo_image    {
        padding-top: 4%;
        padding-right: 1%;
        padding-bottom: 6%;
        padding-left: 1%;
                }
